[Desktop Entry]
Encoding=UTF-8
Name=NoSQL Workbench
Comment=AWS NoSQL Workbench
Exec=/opt/NoSQL-Workbench.AppImage
Icon=nosql-workbench
StartupWMClass=NoSQL-Workbench
Type=Application
Categories=Development;
